


code {
 
   
  font-family: 'Satisfy', cursive;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 1rem;
}
.app-container h1{
  width: 0ch;
  color: rgb(38, 16, 236);
  overflow: hidden;
  white-space: nowrap;
  animation: text 4s steps(15) infinite alternate;
  

}
@keyframes text{
  0%{
    width: 0ch;
    
  }
  50%{
    width:20ch;
    color:rgb(218, 55, 5);
  }
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



